@using IsMatch.Models
@{
    // var referUrl = "https://www.cnblogs.com/Vrapile/p/8280996.html";

    var s = ViewBag.Options;
}
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @s.SpringSign
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @s.SummerSign                   
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @s.AutumnSign                  
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @s.WinterSign
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
        <div class="col-md-3">
            <h2>春天</h2>
            <ul>
                <li>万</li>
                <li>物</li>
                <li>复</li>
                <li>苏</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>夏天</h2>
            <ul>
                <li>骄</li>
                <li>阳</li>
                <li>似</li>
                <li>火</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>秋天</h2>
            <ul>
                <li>叶</li>
                <li>落</li>
                <li>知</li>
                <li>秋</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>冬天</h2>
            <ul>
                <li>山</li>
                <li>寒</li>
                <li>水</li>
                <li>冷</li>
            </ul>
        </div>
    </div>
