{
  "Name":  "XCode数据缓存，用于加速各实体类启动",
  "Counts":  {
    "Membership_Role_Role":  4,
    "Membership_User_UserX":  3,
    "Conn_Weight_Weight":  0,
    "Log_UserOnline_UserOnline":  1,
    "Membership_UserConnect_UserConnect":  0
  },
  "FieldCache":  {
    "VisitStat_Page":  {
      "/":  "/ (4)",
      "/__browserLink/requestData/0315cd055bf04bd69d6b8bf5f84e36cb":  "/__browserLink/requestData/0315cd055bf04bd69d6b8bf5f84e36cb (4)",
      "/__browserLink/requestData/34a6eb78e8f4497489291a2d595f1fd3":  "/__browserLink/requestData/34a6eb78e8f4497489291a2d595f1fd3 (4)",
      "/__browserLink/requestData/6b500706a5aa479b92b51a629f04fef5":  "/__browserLink/requestData/6b500706a5aa479b92b51a629f04fef5 (4)",
      "/__browserLink/requestData/71017e80834f43fb8cf97fa16b33aef3":  "/__browserLink/requestData/71017e80834f43fb8cf97fa16b33aef3 (4)",
      "/__browserLink/requestData/8d956cc4933b4d65b3c3fcb51edaeba3":  "/__browserLink/requestData/8d956cc4933b4d65b3c3fcb51edaeba3 (4)",
      "/__browserLink/requestData/ce5d7a7b8dea4720910e524bcac5ab2a":  "/__browserLink/requestData/ce5d7a7b8dea4720910e524bcac5ab2a (4)",
      "/__browserLink/requestData/ce8c5b2f529441fb9d285fc8220cc501":  "/__browserLink/requestData/ce8c5b2f529441fb9d285fc8220cc501 (4)",
      "/__browserLink/requestData/da7b04e962804c3e828711956a8510cf":  "/__browserLink/requestData/da7b04e962804c3e828711956a8510cf (4)",
      "/__browserLink/requestData/db59de71d76d49b39e3dbf799bc993c9":  "/__browserLink/requestData/db59de71d76d49b39e3dbf799bc993c9 (4)",
      "/__browserLink/requestData/dd0b15b3a1bf4442aac25bfd42256598":  "/__browserLink/requestData/dd0b15b3a1bf4442aac25bfd42256598 (4)",
      "/Admin":  "/Admin (4)",
      "/Admin/Index/Main":  "/Admin/Index/Main (4)",
      "/Admin/Role":  "/Admin/Role (4)",
      "/Admin/Sys":  "/Admin/Sys (4)",
      "/Admin/User":  "/Admin/User (4)",
      "/Admin/User/Login":  "/Admin/User/Login (4)",
      "全部":  "全部 (4)"
    }
  }
}